<%= turbo_frame_tag dom_id(line_item), class: "overflow-hidden flex items-center h-10 border-solid border-b #{line_item.completed ? 'line-through text-gray-300' : ''}", data: { controller: 'line-item', 'line-item-id': line_item.id }, draggable: 'true' do %>
  <a href='<%= edit_line_item_path(line_item.id) %>' class='text-sm md:text-base whitespace-nowrap w-4/5 overflow-hidden text-ellipsis flex-shrink pr-2' data-turbo-frame='info-panel'>
    <% if line_item.start_time.present? %>
      <span class='text-gray-500 pr-4'>
        <%= line_item.start_time.strftime('%I:%M %p') %>
      </span>
    <% end %>
    <% if line_item.time_to_complete_minutes.present? %>
      <span class="rounded-xl mr-2 px-3 p-2 <%= time_color %> text-sm rounded">
        <%=line_item.time_to_complete_minutes%>m
      </span>
    <% end %>
    <%= line_item.text %>
  </a>
  <%= button_to line_item_path(line_item.id, aside: false, line_item: { completed: !line_item.completed }), method: :put, form: { class: 'ml-auto'} do %>
    <%= heroicon 'check-circle', variant: line_item.completed ? 'solid' : 'outline', options: { class: 'h-4 w-4' } %>
  <% end %>
  <div class='hidden relative' data-line-item-target='deletePanel'>
    <div class='absolute top-0 right-0 h-10 -translate-y-2/4 min-w-[50vw] box-shadow-lg'>
      <div class='hidden rounded-l-lg text-white bg-red-500 w-full h-full px-4 flex items-center animate__animated'>
        <%= button_to line_item_path(line_item, aside: false), method: :delete, class: "" do %>
          Delete
        <% end %>
      </div>
    </div>
  </div>
<% end %>